@import "./variables.scss";
@import "../node_modules/bootstrap/scss/bootstrap";

@font-face {
  font-family: 'Circular';
  src: url(./common/fonts/Circular/CircularStd-Book.woff) format('woff');
  font-weight: normal;
}

@font-face {
  font-family: 'Circular';
  src: url(./common/fonts/Circular/CircularStd-Black.woff) format('woff');
  font-weight: bold;
}

body {
  font-family: 'Circular';
}

.placeholder {
  padding: 12px;
  background-color: #ced4da;
  width: 100%;
}

.header__logo {
  max-height: 100px;
}

.footer {
  background-color: $main-color;
  color: #ffffff;
}

.nav-link {
  color: #ffffff;
}

.footer__social-link {
  color: #ffffff;
}

.footer__social-link:hover {
  color: #ffffff;
}
